.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ca-space-4);
  flex: 1;
  justify-content: center;
}

.message {
  font-size: var(--ca-text-md);
  color: rgba(255, 255, 255, 0.75);
}

.board {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: var(--ca-space-3);
}
